@model TrainingProgramDetailsServiceModel
@inject ITrainerService trainerService
@inject ITrainingProgramService trainingProgramService

@{
    ViewBag.Title = "Training Program Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Starts at: <b>@Model.StartDate.ToString(DateFormat)</b></p>
            <p>
                Duration:
                <b>@Model.Duration days</b>
            </p>
            <p>
                Description:
                <b>@Model.Description</b>
            </p>
            <p>Category: <b>@Model.CategoryName</b></p>
           
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (await trainingProgramService.HasTrainerWithIdAsync(Model.Id, User.Id()))
                    {
                        <a class="btn btn-warning" asp-controller="TrainingProgram" asp-action="Modify"
                           asp-route-id="@Model.Id">Modify</a>
                    }

                    @if (await trainerService.ExistsByIdAsync(User.Id()) == false)
                    {
                        <form class="ml-2" asp-controller="TrainingProgram"
                              asp-action="Subscribe" asp-route-id="@Model.Id" method="post">
                            <input class="btn btn-primary" type="submit" value="Subscribe" />
                        </form>
                    }                    
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Trainer Info</h5>
                    <p class="card-text">Email:  @Model.CreatorEmail</p>                    
                </div>
            </div>
        </div>
    </div>
</div>
