@model TrainingProgramDetailsServiceModel
@inject ITrainerService trainerService
@inject ITrainingProgramService trainingProgramService
<link rel="stylesheet" href="~/css/details.css" />

@* @Model.ImageUrl, Title, Duration, Description, StartDate, Category, CreatorName, CreatorEmail *@
@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div class="site">
    <section class="aside">
        <h3>@Model.Title</h3>        
        <img src="@Model.ImageUrl" alt="TrainingProgram Image" />        
    </section>
    <section class="main">
        <hr />
        <p>@Model.Description</p>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        More Info
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p><b>Category:</b> @Model.CategoryName</p>
                        <p><b>Start Date:</b> @Model.StartDate</p>
                        <p><b>Duration:</b> @Model.Duration</p> 
                        <p><b>Trainer:</b> @Model.CreatorName - <b>Email:</b> @Model.CreatorEmail</>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
