@model ProductOptionsModel
@inject IProductService productService

@{
	ViewData["Title"] = "Product Modification";

}
<h2 class="text-center h4" style="color:white">@ViewData["Title"]</h2>
<br />
<h3 class="h4" style="color:white">Select product to modify/delete</h3>
<br/>
<form method="get" class="align-content-center">
	<div class="row">
		<div class="form-group col-md-3 d-flex justify-content-between">
			<div class="form-group">
				<label asp-for="Name" style="color:white"></label>
				<select asp-for="Name" class="form-control">
					<option value="">All</option>
					@foreach (var name in Model.ProductNames)
					{
						<option value="@name">@name</option>
					}
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<p>
					<input asp-area="" asp-controller="Product" asp-action="Modify" asp-route-name="@Model.Name" type="submit" value="Modify" class="list-group-item list-group-item-action list-group-item-primary" />
				</p>
				<p>
					<input asp-area="" asp-controller="Product" asp-action="Delete" asp-route-name="@Model.Name" type="submit" value="Delete" class="list-group-item list-group-item-action list-group-item-danger" />
				</p>
			</div>
		</div>
	</div>
	
</form>

<form method="post">
	<div class="list-group text-center">
		<a asp-area="" asp-controller="Product" asp-action="Add" class="list-group-item list-group-item-action list-group-item-success">Add new Product</a>
		

	</div>
</form>



