@model TrainingProgramServiceModel
@inject ITrainerService trainerService
@inject ITrainingProgramService trainingProgramService
<link rel="stylesheet" href="~/css/TrainingProgramAll.css" />

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img" src="@Model.ImageUrl" alt="TrainingProgram Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Start Date: <b>@Model.StartDate.ToString("dd/MM/yyyy hh:mm")</b></h6>
            <h6>
                Duration
                <b>@Model.Duration days</b>
            </h6>
            <h6>
                Trainer:
                <b>@Model.CreatorName</b>
            </h6>
            <h6>
                Category:
                <b>@Model.CategoryName</b>
            </h6>
            <br />
            <a asp-controller="TrainingProgram" asp-action="Details" asp-route-id="@Model.Id"
                class="btn-details">Details</a>

            @if (this.User.Identity.IsAuthenticated)
            {
                @if (await trainingProgramService.HasTrainerWithIdAsync(Model.Id, User.Id()) || User.IsAdmin())
                {
                    <a asp-controller="TrainingProgram" asp-action="Modify" asp-route-id="@Model.Id" 
                       class="btn-modify">Modify</a>
                }

                if(await trainerService.ExistsByIdAsync(User.Id()) == false)
                {                    
                    @if(await trainingProgramService.HasParticipantWithIdAsync(@Model.Id, User.Id()))
                    {
                        <br />
                        <br />
                        <form class="ml-2" asp-controller="TrainingProgram"
                              asp-action="Subscribe" asp-route-id="@Model.Id" method="post">
                            <input class="btn-subscribed" type="submit" value="Subscribed" disabled />
                        </form>
                    }
                    else
                    {
                        <br />
                        <br />
                        <form class="ml-2" asp-controller="TrainingProgram"
                              asp-action="Subscribe" asp-route-id="@Model.Id" method="post">
                            <input class="btn-subscribe" type="submit" value="Subscribe" />
                        </form>
                    }
                    
                }
            }              
        </div>
    </div>
</div>
