@model TrainingProgramFormModel
<link rel="stylesheet" href="~/css/add.css" />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Title...">
                <span asp-validation-for="Title" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Description...">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <textarea asp-for="ImageUrl" rows="4" class="form-control" placeholder="Image Url"></textarea>
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-control" placeholder="dd/MM/yyyy HH:mm">
                <span asp-validation-for="StartDate" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationDays"></label>
                <input asp-for="DurationDays" class="form-control">
                <span asp-validation-for="DurationDays" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.CategoryId" class="form-label-add-edit">Select Category</label>
                <select asp-for="@Model.CategoryId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Category...</option>
                    @foreach (var category in Model.TrainingProgramCategories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn-add" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>
